<div class="page-header">
    <div class="header-wrapper row m-0">
        <div
            class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto"
        >
            <ul class="nav-menus">
                <li>
                    <div class="mode">
                        <svg>
                            <use
                                href="../../assets/svg/icon-sprite.svg#moon"
                            ></use>
                        </svg>
                    </div>
                </li>

                <li class="onhover-dropdown">
                    <div class="notification-box">
                        <svg>
                            <use
                                href="../../assets/svg/icon-sprite.svg#notification"
                            ></use>
                        </svg>
                        <span class="badge rounded-pill badge-success">4</span>
                    </div>
                    <div class="onhover-show-div notification-dropdown">
                        <h6 class="f-18 mb-0 dropdown-title">Notifikasi</h6>
                        <ul>
                            <li
                                class="b-l-primary border-4 toast default-show-toast align-items-center text-light border-0 fade show"
                                aria-live="assertive"
                                aria-atomic="true"
                                data-bs-autohide="false"
                            >
                                <div class="d-flex justify-content-between">
                                    <div class="toast-body">
                                        <p>
                                            Realisasi Anggaran telah disetujui!
                                        </p>
                                    </div>
                                    <button
                                        class="btn-close btn-close-white me-2 m-auto"
                                        type="button"
                                        data-bs-dismiss="toast"
                                        aria-label="Close"
                                    ></button>
                                </div>
                            </li>
                            <li
                                class="b-l-success border-4 toast default-show-toast align-items-center text-light border-0 fade show"
                                aria-live="assertive"
                                aria-atomic="true"
                                data-bs-autohide="false"
                            >
                                <div class="d-flex justify-content-between">
                                    <div class="toast-body">
                                        <p>Infojab telah disetujui!</p>
                                    </div>
                                    <button
                                        class="btn-close btn-close-white me-2 m-auto"
                                        type="button"
                                        data-bs-dismiss="toast"
                                        aria-label="Close"
                                    ></button>
                                </div>
                            </li>
                            <li
                                class="b-l-secondary border-4 toast default-show-toast align-items-center text-light border-0 fade show"
                                aria-live="assertive"
                                aria-atomic="true"
                                data-bs-autohide="false"
                            >
                                <div class="d-flex justify-content-between">
                                    <div class="toast-body">
                                        <p>Permintaan Anda ditolak!</p>
                                    </div>
                                    <button
                                        class="btn-close btn-close-white me-2 m-auto"
                                        type="button"
                                        data-bs-dismiss="toast"
                                        aria-label="Close"
                                    ></button>
                                </div>
                            </li>
                            <li
                                class="b-l-warning border-4 toast default-show-toast align-items-center text-light border-0 fade show"
                                aria-live="assertive"
                                aria-atomic="true"
                                data-bs-autohide="false"
                            >
                                <div class="d-flex justify-content-between">
                                    <div class="toast-body">
                                        <p>Surat telah di TTE!</p>
                                    </div>
                                    <button
                                        class="btn-close btn-close-white me-2 m-auto"
                                        type="button"
                                        data-bs-dismiss="toast"
                                        aria-label="Close"
                                    ></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="profile-nav onhover-dropdown pe-0 py-0">
                    <div class="d-flex profile-media">
                        <img
                            class="b-r-10"
                            src="../../assets/images/dashboard/profile.png"
                            alt=""
                        />
                        <div class="flex-grow-1">
                            <span>User 001</span>
                            <p class="mb-0">
                                Biro ORB
                                <i class="middle fa-solid fa-angle-down"></i>
                            </p>
                            <div id="header"></div>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div">
                        <li>
                            <a href="./admin.php">
                                <i data-feather="file-text"></i>
                                <span style="text-transform: none">Admin</span>
                            </a>
                        </li>
                        <li>
                            <a href="./profil.php">
                                <i data-feather="user"></i>
                                <span style="text-transform: none">Profil</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <i data-feather="log-in"></i>
                                <span style="text-transform: none">Keluar</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
