<div class="sidebar-wrapper" data-sidebar-layout="stroke-svg">
    <div>
        <div class="logo-wrapper">
            <a href="./">
                <img
                    class="img-fluid"
                    src="../../assets/images/logo/logo-wide.png"
                    alt="Logo"
                    style="
                        max-height: 35px;
                        background-color: white;
                        border-radius: 8px;
                        padding: 2px 4px;
                    "
                />
            </a>
            <div class="back-btn">
                <i class="fa-solid fa-angle-left"></i>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <img
                class="img-fluid"
                src="../../assets/images/logo/logo.png"
                alt="Logo"
                style="
                    max-height: 35px;
                    background-color: white;
                    border-radius: 8px;
                    padding: 4px;
                "
            />
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn">
                        <img
                            class="img-fluid"
                            src="../../assets/images/logo/logo.png"
                            alt="Logo"
                            style="
                                max-height: 35px;
                                background-color: white;
                                border-radius: 8px;
                                padding: 4px;
                            "
                        />
                        <div class="mobile-back text-end">
                            <span>Back</span>
                            <i
                                class="fa-solid fa-angle-right ps-2"
                                aria-hidden="true"
                            ></i>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="beranda.php"
                        >
                            <i data-feather="home"></i>
                            <span class="">Beranda</span>
                        </a>
                    </li>

                    <!-- KELEMBAGAAN START -->
                    <li class="sidebar-main-title">
                        <div>
                            <h6>Kelembagaan</h6>
                        </div>
                    </li>
                    <!-- DASBOR -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="kelembagaan-dasbor.php"
                        >
                            <i data-feather="bar-chart-2"></i>
                            <span>Dasbor</span>
                        </a>
                    </li>
                    <!-- FORM EVALUASI -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="form-evaluasi.html"
                        >
                            <i data-feather="file-text"></i>
                            <span>Form Evaluasi</span>
                        </a>
                    </li>
                    <!-- REKAP EVALUASI -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="rekap-evaluasi.html"
                        >
                            <i data-feather="clipboard"></i>
                            <span>Rekap Evaluasi</span>
                        </a>
                    </li>
                    <!-- FORM KEMATANGAN ORGANISASI -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="form-kematangan.html"
                        >
                            <i data-feather="trending-up"></i>
                            <span>Kematangan Organisasi</span>
                        </a>
                    </li>
                    <!-- KELEMBAGAAN END -->

                    <!-- ANJAB START -->
                    <li class="sidebar-main-title">
                        <div>
                            <h6>ANJAB</h6>
                        </div>
                    </li>
                    <!-- DASBOR -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="anjab-dasbor.php"
                        >
                            <i data-feather="bar-chart-2"></i>
                            <span>Dasbor</span>
                        </a>
                    </li>
                    <!-- JABATAN -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="jabatan.html"
                        >
                            <i data-feather="briefcase"></i>
                            <span>Jabatan</span>
                        </a>
                    </li>
                    <!-- KATEGORI JABATAN -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="kategori-jabatan.html"
                        >
                            <i data-feather="layers"></i>
                            <span>Kategori Jabatan</span>
                        </a>
                    </li>
                    <!-- INFORMASI JABATAN -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="informasi-jabatan.html"
                        >
                            <i data-feather="info"></i>
                            <span>Informasi Jabatan</span>
                        </a>
                    </li>
                    <!-- ANALISIS BEBAN KERJA -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="analisis-beban-kerja.html"
                        >
                            <i data-feather="bar-chart"></i>
                            <span>Analisis Beban Kerja</span>
                        </a>
                    </li>
                    <!-- INFORMASI FAKTOR JABATAN -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="faktor-jabatan.html"
                        >
                            <i data-feather="sliders"></i>
                            <span>Informasi Faktor Jabatan</span>
                        </a>
                    </li>
                    <!-- ANJAB END -->

                    <!-- RBBK START -->
                    <li class="sidebar-main-title">
                        <div>
                            <h6>RBBK</h6>
                        </div>
                    </li>
                    <!-- DASHBOARD -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="rbbk-dasbor.php"
                        >
                            <i data-feather="bar-chart-2"></i>
                            <span>Dasbor</span>
                        </a>
                    </li>

                    <!-- LKIP PD -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="rbbk-lkip.php"
                        >
                            <i data-feather="file-text"></i>
                            <span>LKIP Perangkat Daerah</span>
                        </a>
                    </li>

                    <!-- AKUNTABILITAS -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a class="sidebar-link sidebar-title" href="#">
                            <i data-feather="folder"></i>
                            <span>Akuntabilitas</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="rbbk-akuntabilitas-visi-misi.php"
                                    >Visi & Misi</a
                                >
                            </li>
                            <li>
                                <a href="rbbk-akuntabilitas-capaian.php"
                                    >Capaian Akuntabilitas</a
                                >
                            </li>
                            <li>
                                <a href="rbbk-akuntabilitas-master-data.php"
                                    >Master Data</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- RBBK END -->

                    <li class="sidebar-main-title">
                        <div>
                            <h6>TLPP</h6>
                        </div>
                    </li>
                    <!-- DASBOR -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="tlpp-dasbor.php"
                        >
                            <i data-feather="bar-chart-2"></i>
                            <span>Dasbor</span>
                        </a>
                    </li>

                    <!-- FORM -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="form.html"
                        >
                            <i data-feather="file-text"></i>
                            <span>Form</span>
                        </a>
                    </li>

                    <!-- MONITORING DAN EVALUASI -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="monitoring-evaluasi.html"
                        >
                            <i data-feather="activity"></i>
                            <span>Monitoring dan Evaluasi</span>
                        </a>
                    </li>

                    <!-- STANDAR PELAYANAN -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="standar-pelayanan.html"
                        >
                            <i data-feather="check-circle"></i>
                            <span>Standar Pelayanan</span>
                        </a>
                    </li>
                    <li class="sidebar-main-title">
                        <div>
                            <h6>Admin</h6>
                        </div>
                    </li>
                    <!-- KELOLA PENGGUNA -->
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a
                            class="sidebar-link sidebar-title link-nav"
                            href="admin-kelola-pengguna.php"
                        >
                            <i data-feather="users"></i>
                            <span>Kelola Pengguna</span>
                        </a>
                    </li>
                    <li class="sidebar-main-title">
                        <div>
                            <h6>Mockup Lama</h6>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <!--<label class="badge badge-light-primary">13</label>-->
                        <a class="sidebar-link sidebar-title active" href="#">
                            <svg class="stroke-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#stroke-home"
                                ></use>
                            </svg>
                            <svg class="fill-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#fill-home"
                                ></use>
                            </svg>
                            <span class="">Tata Laksana </span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="index.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="../tlpp_quisioner.html"
                                    >Penyusunan Form</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a class="sidebar-link sidebar-title active" href="#">
                            <svg class="stroke-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#stroke-widget"
                                ></use>
                            </svg>
                            <svg class="fill-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#fill-widget"
                                ></use>
                            </svg>
                            <span class="">Reformasi Birokrasi</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="general-widget.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="../rbbk_quisioner.html"
                                    >Akuntabilitas Kinerja</a
                                >
                            </li>
                            <li>
                                <a href="../rbbk_lkip.html">LKIP</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a class="sidebar-link sidebar-title" href="#">
                            <svg class="stroke-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#stroke-layout"
                                ></use>
                            </svg>
                            <svg class="fill-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#fill-layout"
                                ></use>
                            </svg>
                            <span class="">Analisis Jabatan</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="">Dashboard</a>
                            </li>
                            <li>
                                <a href="../anjab_quisioner.html"
                                    >Penyusunan Analisa Jabatan</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <i class="fa-solid fa-thumbtack"></i>
                        <a class="sidebar-link sidebar-title" href="#">
                            <svg class="stroke-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#stroke-reports"
                                ></use>
                            </svg>
                            <svg class="fill-icon">
                                <use
                                    href="../../assets/svg/icon-sprite.svg#fill-reports"
                                ></use>
                            </svg>
                            <span class="">Kelembagaan</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="../general-widget.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="../kelembagaan_quisioner.html"
                                    >Form Evaluasi</a
                                >
                            </li>
                            <li>
                                <a href="../kelembagaan_survey.html"
                                    >Rekap Evaluasi</a
                                >
                            </li>
                            <li>
                                <a href="../kelembagaan_survey_kematangan.html"
                                    >Form Kematangan ORG</a
                                >
                            </li>
                            <!--<li>
                        <a href="kelembagaan_survey_kematangan.html">Rekap Kematangan ORG</a>
                      </li>-->
                            <!--<li>
                        <a href="chart-widget.html">Digital Information</a>
                      </li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
